.image-container{
    background: url('img/bg.jpg') center no-repeat;
    background-size:cover;
    height:100vh;

}
.form-container{
    background-color: #9900cc;
    display:flex;
    justify-content: center;
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
 min-height: 100vh;

}
.form-box h2{
    font-weight:bold;
    color:#fff;
}

