<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login Form</title>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>


    </head>
    <body style="background-color: blueviolet;">
    
    </br>
      <h3 style="color: white; text-align: center;" >  This is John Mcafee, Founder of Mcafee </h3> </br>
      <h3 style="color: white; text-align: center;">  and I'm here to tell you that your username or password is incorrect &#128563;&#129488;&#129312;</h3>
    
  <div id="content" style="text-align: center;"> <a href="/login" th:href="@{/login}" class="btn btn-warning">Helpp, Please send me back to login page</a> 
</hr>
    </br>
    <p></p>

      <img th:src="@{/img/mcafee1.jpg}"  src="mcafee1.jpg" alt="Smiley face" height="300" width="300"> <img src="mcafee2.jpg" th:src="@{/img/mcafee2.jpg}"  alt="Smiley face" height="300" width="300">             <img th:src="@{/img/surveillance.jpeg}"  src="surveillance.jpeg" alt="Smiley face" height="300" width="320"></br>
        
       <br>
        <img src="obama.jfif" th:src="@{/img/obama.jfif}"  alt="Smiley face" height="300" width="320"> <img src="dare.jpg" th:src="@{/img/dare.jpg}" alt="Smiley face" height="350" width="420"> <img src="zuck.jpg" th:src="@{/img/zuck.jpg}"  alt="Smiley face" height="300" width="300">  
   
   
    </div>

    </body>
</html>